.logo {
    width: 3.5rem;
}

.navbar-nav li a:hover {
    color: orange;
}

body{
    overflow-x: hidden;
}

.nv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/*Caarousel*/
.carousel-item {
    height: 90vh;
    background-size:cover;
    background-position:center center;
}

@media (max-width: 476px) {
    .carousel-item {
        height: 20rem;
    }
}

/*Carousel*/

/*SECTION END*/


.section i {
   
    color: #000;
    font-size: 32px;
    border-radius: 2.6rem;
    padding: 1rem;
    
}

.section-icons {
    border: 1px solid black;
    border-radius: 1rem;
    margin-left: 0.7rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
/*SECTION END*/

/*FOOTER*/
.footer {
    background: #250170;
}

.footer h5, p, i {
    color: #fff;
}

iframe{
    display: block;
}

/*FOOTER END*/
